<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Análisis de Fraude</title>
</head>
<body>
    <h1 class="text-center">Análisis de Fraude</h1>

    <div style="text-align: right; margin: 1rem;">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Inicio</a>
    </div>


    <h2>Incidentes por empleado</h2>
    {{ emp_table|safe }}

    <h2>Incidentes por nivel de empleado</h2>
    {{ nivel_table|safe }}

    <h2>Incidentes por cliente</h2>
    {{ cliente_table|safe }}

    <h2>Número incidentes por tipo </h2>
    {{ inci_table|safe }}

    <h2>Incidentes día de la semana</h2>
    {{ weekday_table|safe }}

    <h2>Numero incidentes tipo fraude</h2>
    {{ fraude_table|safe }}

    <h2>Contactos por los empleados para Fraude</h2>
    {{ contacts_table|safe }}

    <h2>Tabla para las estadísticas</h2>
    {{table|safe}}

    <h2>Estadisticas de fraude:</h2>
    <ul>
        <li>Media de incidentes:{{stats.Media_de_incidentes}}</li>
        <li>Varianza de incidentes:{{stats.Varianza_de_incidentes}}</li>
        <li>Valor mínimo de incidentes:{{stats.Valor_mínimo_de_incidentes}}</li>
        <li>Valor máximo de incidentes:{{stats.Valor_máximo_de_incidentes}}</li>
        <li>Mediana de incidentes:{{stats.Mediana_de_incidentes}}</li>
    </ul>

</body>
</html>
