<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gráficos</title>
</head>
<body>
    <h1 class="text-center">Gráficos</h1>
    <div style="text-align: right; margin: 1rem;">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Inicio</a>
    </div>

    <h2>Media de tiempos de incidentes</h2>
    <img src="data:image/png;base64,{{graph_1}}" alt="Gráfico">
    <h2>Tiempo de resolución por tipo de incidente</h2>
    <img src="data:image/png;base64,{{graph_2}}" alt="Gráfico2">
    <h2>5 clientes más críticos</h2>
    <img src="data:image/png;base64,{{graph_3}}" alt="Gráfico3">

    <h2>Número de actuaciones por empleado:</h2>
    <img src="data:image/png;base64,{{graph_4}}" alt="Gráfico4">
    <h2>Número de actuaciones por día de la semana:</h2>
    <img src="data:image/png;base64,{{graph_5}}" alt="Gráfico5">
</body>
</html>