<!DOCTYPE html>
<html LANG="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados del Sistema ETL</title>
</head>
<body>
    <h1 class="text-center">Tablas y resultados del Sistema ETL</h1>
    <h2>Muestras:</h2>
    {{samples|safe}}

    <h2>Tickets con satisfaccion >=5</h2>
    {{tickets|safe}}

    <h2>Número de incidentes por cliente</h2>
    {{incidents_per_client|safe}}

    <h2>Número de horas por incidente</h2>
    {{hours_incidents|safe}}

    <h2>Número de horas por empleado</h2>
    {{hours_employee|safe}}

    <h2>Tiempo entre apertura y cierre de incidentes</h2>
    {{time_incident|safe}}

    <h2>Numero de incidentes por empleados</h2>
    {{incidents_employee|safe}}

    <h2>Estadísticas</h2>
    <ul>
        <li>Número de muestras totales:{{stats.Numero_de_muestras_totales}}</li>
        <li>Media del total de incidentes valorados en 5 o más:{{stats.Media_Incidentes_valorados}}</li>
        <li>Desviación estándar del total de incidentes valorados en 5 o más:{{stats.Desviacion_Incidentes_valorados}}</li>
        <li>Media del total del número de incidentes por cliente:{{stats.Media_incidentes_por_clientes}}</li>
        <li>Desviación estándar del total del número de incidentes por cliente:{{stats.Desviacion_incidentes_por_clientes}}</li>
        <li>Media del número de horas totales realizadas en cada incidente:{{stats.Media_horas_por_incidentes}}</li>
        <li>Desviación estándar del número de horas totales realizadas en cada incidente:{{stats.Desviacion_horas_por_incidentes}}</li>
        <li>Valor mínimo del total de horas realizadas por los empleados:{{stats.Minimo_horas_por_empleado}}</li>
        <li>Valor máximo del total de horas realizadas por los empleados:{{stats.Maximo_horas_pr_empleado}}</li>
        <li>Valor mínimo tiempo entre apertura y cierre de incidente:{{stats.Minimo_tiempo_por_incidente}}</li>
        <li>Valor máximo tiempo entre apertura y cierre de incidente:{{stats.Maximo_tiempo_incidente}}</li>
        <li>Valor mínimo del número de incidentes atendidos por cada empleado:{{stats.Minimo_incidentes_por_empleado}}</li>
        <li>Valor máximo del número de incidentes atendidos por cada empleado:{{stats.Maximo_incidentes_por_empleado}}</li>
    </ul>
</body>
</html>